<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/navbar') %>

      <!-- Header -->
      <%- include('./partials/header') %>

        <!-- Page content -->
        <div class="ps-content">

          <!-- Menu Section -->
          <div>
            <h2>
              <%= pratoFound.name %>
            </h2>
            <h2>Detalhe do produto: <%= pratoFound.name %>
            </h2>

            <p>R$ <%= pratoFound.price.toFixed(2) %></p>

            <div>
              <img src="/images/<%= pratoFound.image %>" alt="product image">
              <p>
                <%= pratoFound.description %> 
              </p>


            </div>
          </div>

          <%- include('./partials/footer') %>
        </div>
  </body>

</html>