<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/navbar') %>

      <!-- Header -->
      <%- include('./partials/header') %>

        <!-- Page content -->
        <div class="ps-content">

          <!-- Menu Section -->
          <div class="Visualisação-do-prato">
            <h2>
              <%= pratoFound.name %>
            </h2>

            <div>
              <img src="/images/<%= pratoFound.image %>" alt="product image">
            </div>

            <p>
              Sobre o Prato: <%= pratoFound.description %>
            </p>

            <p>
              R$ <%= pratoFound.price.toFixed(2) %>
            </p>

          </div>

          <%- include('./partials/footer') %>
          
        </div>
  </body>

</html>